$hollyOffest: -0.85em;

.content {
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 0.5em;
    padding: 1em 2em 1em 2em;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;

    & > img {
        width: 1.5em;

        &.TR {
            position: absolute;
            top: $hollyOffest;
            right: $hollyOffest;
            transform: rotateZ(180deg);
        }

        &.BR {
            position: absolute;
            bottom: $hollyOffest;
            right: $hollyOffest;
            transform: rotateZ(-90deg);
        }

        &.BL {
            position: absolute;
            bottom: $hollyOffest;
            left: $hollyOffest;
        }

        &.TL {
            position: absolute;
            top: $hollyOffest;
            left: $hollyOffest;
            transform: rotateZ(90deg);
        }
    }

    &_phoneme {
        &_heading {
            display: flex;
            align-items: center;

            > span {
                font-size: 3em;
                font-weight: 700;
            }
        }

        &_playicon {
            width: 1.2em;
            margin-left: 0.5em;
        }

        &_text {
            margin: 1em 0 1em;
        }
    }

    &_audioex {
        display: flex;
        align-items: center;

        & strong {
            margin-right: 0.5em;
        }

        &_playicon {
            width: 1.2em;
            margin-left: 0.5em;
        }
    }

    &_divider {
        width: 2px;
        border: 1px solid black;
        margin: 0 2em;
    }

    &_question {

    }

    

    
}