$hollyOffest: -1.1em;

.content {
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 0.5em;
    padding: 1em 2em 1em 2em;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;

    & > img {
        width: 2.2em;

        &.TR {
            position: absolute;
            top: $hollyOffest;
            right: $hollyOffest;
            transform: rotateZ(-90deg);
        }

        &.BR {
            position: absolute;
            bottom: $hollyOffest;
            right: $hollyOffest;
            transform: rotateZ(0deg);
        }

        &.BL {
            position: absolute;
            bottom: $hollyOffest;
            left: $hollyOffest;
            transform: rotateZ(90deg);
        }

        &.TL {
            position: absolute;
            top: $hollyOffest;
            left: $hollyOffest;
            transform: rotateZ(180deg);
        }
    }

    &_phoneme {
        max-width: 26.5em;

        &_heading {
            display: flex;
            align-items: center;

            > span {
                font-size: 3em;
                font-weight: 700;
            }
        }

        &_playicon {
            width: 1.2em;
            margin-left: 0.5em;
        }

        &_text {
            margin: 1em 0 1em;
        }
    }

    &_audioex {
        display: flex;
        align-items: center;

        & strong {
            margin-right: 0.5em;
        }

        &_playicon {
            width: 1.2em;
            margin-left: 0.5em;
        }
    }

    &_divider {
        width: 2px;
        border: 1px solid black;
        margin: 0 2em;
        background-color: black;
    }

    &_question {
        max-width: 26.5em;

        &_container {
            display: flex;
        }


        &_result {
            color: transparent;
            line-height: 2.5em;

            &-correct {
                color: green;
                line-height: 2.5em;
            }

            &-incorrect {
                color: red;
                line-height: 2.5em;
            }
        }

        &_answers {
            display: flex;
            flex-direction: column;
        }

        &_control {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2em;
            width: 8em;
        }

        &_button {
            border: 1px solid grey;
            color: grey;
            border-radius: 1em;
            padding: 0 0.5em;

            &-active {
                border: 1px solid black;
                color: black;
                border-radius: 1em;
                padding: 0 0.5em;
                
                &:hover {
                    background-color: lightgray;
                    cursor: pointer;
                }
            }
        }

        &_note {
            margin-top: 1em;
            visibility: hidden;

            &-visible {
                margin-top: 1em;
                visibility: visible;
            }
        }
    }

    

    
}