$hollyOffest: -1.1em;

.naughty {
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 0.5em;
    padding: 1em 2em 1em 2em;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;

    & > img {
        width: 2.2em;

        &.TR {
            position: absolute;
            top: $hollyOffest;
            right: $hollyOffest;
            transform: rotateZ(-90deg);
        }

        &.BR {
            position: absolute;
            bottom: $hollyOffest;
            right: $hollyOffest;
            transform: rotateZ(0deg);
        }

        &.BL {
            position: absolute;
            bottom: $hollyOffest;
            left: $hollyOffest;
            transform: rotateZ(90deg);
        }

        &.TL {
            position: absolute;
            top: $hollyOffest;
            left: $hollyOffest;
            transform: rotateZ(180deg);
        }
    }

    &_text {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1020px) {
            flex-direction: row;
        }

        & > span {
            text-align: center;
        }

        &_first::after {
            content: none;

            @media screen and (min-width: 1020px) {
                content: "\00a0";
            }
        }            
        
    }
}